{% extends "site/generic_base.html" %}

{% block title %}{{ account.name }} Account{% endblock %}

{% block content %}
<div id="accounts">
<center>{{ account.name|capfirst }} Account</center>
<p>Bal: ${{ account.balance }}</p>
<hr>
<p><a href="{{ account.get_trans_from_url }}">Send Funds From</a> | <a href="{{ account.get_trans_to_url }}">Send Funds To</a></p>
<p><a href="{% url 'bank_account_list' %}">Back to Account List</a></p>
</div><!-- End account Div -->

<div id="space"></div>

<div id="transactions">
<table border="1">
<tr>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
</tr>
{% for transaction in account.related_transactions %}
    <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.from_account }}</td>
        <td>{{ transaction.to_account }}</td>
        {% if transaction.from_account == account %}
        <td>-{{ transaction.amount }}</td>
        {% else %}
        <td>+{{ transaction.amount }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
</div> <!-- End of transactions div-->
{% endblock %}
